
body{
    background-color: #f5f5f5;
}


header {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
}

.logo {
  background-color: #f5f5f5;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  background: linear-gradient(90deg, #f8f8f8, #e6e6e6);
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}



.hakkimda-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px;
  
}

.pp{
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #333;
}

.metin-kutu {
  background-color: rgb(232, 230, 230);
  padding: 20px;
  border-radius: 10px;
  border: 1px dotted rgb(125, 180, 137);
  max-width: 600px;
  text-align: justify;
}

.hakkimda-baslik {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(59, 99, 100);
}


footer{
  margin-top: 220px;
  padding: 20px;
  text-align: center;
}

