body{
    background-color: #f5f5f5;
}


header {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
}

.logo {
  background-color: #f5f5f5;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  background: linear-gradient(90deg, #f8f8f8, #e6e6e6);
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.randevu-listesi {
  max-width: 500px;
  margin: 10px auto;
}

.randevu-kutu {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.randevu-kutu button {
  margin-right: 5px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.iletisim-container {
  max-width: 700px;
  margin: 40px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.iletisim-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.iletisim-grid p {
  margin: 8px 0;
  font-size: 15px;
}

footer{
  margin-top: 220px;
  padding: 20px;
  text-align: center;
}