
body{
    background-color: #f5f5f5;
}


header {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
}

.logo {
  background-color: #f5f5f5;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  background: linear-gradient(90deg, #f8f8f8, #e6e6e6);
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

