body{
    background-color: #F0F4F8;
}



header {
  background-color: #f0f4f8;
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  background-color: #F0F4F8;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  background-color: rgb(162, 200, 200);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}
